<div id="cover-front" class="thumb-6 pushed-3">
	<hr>
	<article class="cell-6">
		<figure><img src="{{ site.avatar }}"></figure>
	</article>
	<article class="cell-6">
		<h4>{{ site.nom }}</h4>
		<p><b class="cop">© {{ site.any }}</b></p>
		<p><b>Escrit per:</b><br>{{ site.autor }}</p>
        <p><b>Il·lustrat per:</b><br>{{ site.ilustrator }}</p>
        <p><b>Editorial:</b><br>{{ site.edit }}</p>
        <p><b>Sinopsis:</b><br>{{ site.desc }}</p>
		<br>
		<p><a href="{{ site.url }}/contacte/">Més info</a></p>
	</article>
	<hr>
</div>
